unpackaged/main/default/flows/Bus_Resale_Value_Calculation_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <description>Increases ResaleValue by 34%.</description>
        <name>Add_34_to_ResaleValue</name>
        <label>Add 34% to ResaleValue</label>
        <locationX>50</locationX>
        <locationY>1127</locationY>
        <assignmentItems>
            <assignToReference>ResaleValue</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Resale_Value_34_Percent</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Odometer_Above_100000</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Increases ResaleValue by 3%.</description>
        <name>Add_3_to_ResaleValue</name>
        <label>Add 3% to ResaleValue</label>
        <locationX>50</locationX>
        <locationY>791</locationY>
        <assignmentItems>
            <assignToReference>ResaleValue</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Resale_Value_3_Percent</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_year_1972_or_older</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns initial ResaleValue based on the mapping received from the custom metadata.</description>
        <name>Assign_Initial_ResaleValue</name>
        <label>Assign Initial ResaleValue</label>
        <locationX>182</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>ResaleValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Starting_Selling_Price_Mapping.Starting_Selling_Price__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Air_Conditioning</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets ResaleValue to 0 if Bus status is other than &quot;Ready For Use&quot;.</description>
        <name>Assign_Resale_Value_As_0</name>
        <label>Assign Resale Value As 0</label>
        <locationX>490</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.Resale_Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Subtract ReducedFactor from the ResaleValue.</description>
        <name>Subtract_ReducedFactor</name>
        <label>Subtract ReducedFactor</label>
        <locationX>50</locationX>
        <locationY>1463</locationY>
        <assignmentItems>
            <assignToReference>ResaleValue</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>Resale_Value_Reduced_Factor</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Resale_Value</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns the updated Resale Value to the Bus.</description>
        <name>Update_Resale_Value</name>
        <label>Update Resale Value</label>
        <locationX>182</locationX>
        <locationY>1679</locationY>
        <assignmentItems>
            <assignToReference>$Record.Resale_Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ResaleValue</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <constants>
        <name>ODOMETER_READING_100000</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>100000.0</numberValue>
        </value>
    </constants>
    <decisions>
        <description>Checks if bus has air conditioning. If yes, increases ResaleValue by 3 percent.</description>
        <name>Has_Air_Conditioning</name>
        <label>Has Air Conditioning?</label>
        <locationX>182</locationX>
        <locationY>671</locationY>
        <defaultConnector>
            <targetReference>Is_year_1972_or_older</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Next Step</defaultConnectorLabel>
        <rules>
            <name>Increase_by_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Has_Air_Conditioning__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_3_to_ResaleValue</targetReference>
            </connector>
            <label>Increase by 3%</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if Odometer Reading is above 100,000. If yes, then for every mile over 100,000, the ResaleValue is reduced by $0.10</description>
        <name>Is_Odometer_Above_100000</name>
        <label>Is Odometer Above 100000?</label>
        <locationX>182</locationX>
        <locationY>1343</locationY>
        <defaultConnector>
            <targetReference>Update_Resale_Value</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Next Step</defaultConnectorLabel>
        <rules>
            <name>Reduce_ResaleValue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Odometer_Reading__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Odometer_Reading__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>ODOMETER_READING_100000</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Subtract_ReducedFactor</targetReference>
            </connector>
            <label>Reduce ResaleValue</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if Bus Current Status is &quot;Ready For Use&quot;. If not, then the ResaleValue is set as 0.</description>
        <name>Is_Ready_For_Use</name>
        <label>Is Ready For Use?</label>
        <locationX>468</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>End Flow</defaultConnectorLabel>
        <rules>
            <name>Ready_For_Use</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Current_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ready For Use</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Starting_Selling_Price_Mapping</targetReference>
            </connector>
            <label>Ready For Use</label>
        </rules>
        <rules>
            <name>Under_Repair_Maintenance</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Current_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Ready For Use</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Resale_Value_As_0</targetReference>
            </connector>
            <label>Under Repair / Maintenance</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if Bus Year is 1972 or older. If yes, the Bus is considered as historic and increases ResaleValue by 34%.</description>
        <name>Is_year_1972_or_older</name>
        <label>Is year 1972 or older ?</label>
        <locationX>182</locationX>
        <locationY>1007</locationY>
        <defaultConnector>
            <targetReference>Is_Odometer_Above_100000</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Next Step</defaultConnectorLabel>
        <rules>
            <name>Historic_Bus</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Year__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1972.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_34_to_ResaleValue</targetReference>
            </connector>
            <label>Historic Bus</label>
        </rules>
    </decisions>
    <formulas>
        <description>Formula to evaluate 34 percent of ResaleValue. The result needs to be added to current ResaleValue if Bus Year is 1972 or older.</description>
        <name>Resale_Value_34_Percent</name>
        <dataType>Currency</dataType>
        <expression>0.34 * {!ResaleValue}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <description>Formula to evaluate 3 percent of ResaleValue. The result needs to be added to current ResaleValue if Bus has air conditioning.</description>
        <name>Resale_Value_3_Percent</name>
        <dataType>Currency</dataType>
        <expression>0.03 * {!ResaleValue}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <description>Formula to evaluate reduced factor of ResaleValue. The result needs to be subtracted from the current ResaleValue if Odometer Reading is greater than 100,000.</description>
        <name>Resale_Value_Reduced_Factor</name>
        <dataType>Currency</dataType>
        <expression>IF(ISBLANK({!$Record.Odometer_Reading__c}), 0, ({!$Record.Odometer_Reading__c} - {!ODOMETER_READING_100000}) * 0.10)</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Bus Resale Value Calculation Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Bus Resale Value Calculation Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>To fetch starting selling price for bus based on mapping stored in custom metadata.</description>
        <name>Starting_Selling_Price_Mapping</name>
        <label>Starting Selling Price Mapping</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Initial_ResaleValue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Maximum_Capacity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Maximum_Capacity__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Bus_Starting_Selling_Price_Mapping__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>342</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Ready_For_Use</targetReference>
        </connector>
        <object>Bus__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ResaleValue</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
